/*Header*/
#home {
  margin-top: 20px;
  margin-bottom: 50px;
}
#home > .ui > .button {
  box-shadow: 0 0 10px #212521;
}
#home > .ui > .button:active {
  color: red;
}

#home > .ui > .button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px #212521;
}

/*Main content*/

#mainContent {
  width: 80%;
  margin: auto;
}

/*Home page*/
#addBoard {
  background-color: #84ce84;
  width: 300px;
  height: 100px;
  font-size: 1.5em;
  box-shadow: 0 5px 10px#627a62;
  text-align: center;
  padding-top: 5%;
  color: white;
  text-shadow: 2px 2px #bba3a3;
}

#addBoard:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 15px#627a62;
}

/*Add Board Form*/

#addBoardForm {
  background-color: #84ce84;
  border-radius: 3%;
  font-size: 1.3em;
  text-align: center;
  width: 320px;
  padding: 15px;
  box-shadow: 0 10px 15px#627a62;
}

#addBoardFormHead {
  display: flex;
  justify-content: space-between;
  padding-top: auto;
  border-bottom: 1px solid white;
}
#addBoardFormHead > .ui {
  color: white;
  text-shadow: 2px 2px #bba3a3;
}

#addBoardForm > .form > #inputField > .field > label {
  color: white;
  text-shadow: 2px 2px #bba3a3;
  font-size: 1.05em;
}

#closeImg {
  width: 35px;
  height: 35px;
  background-color: #84ce84;
  color: white;
  box-shadow: none;
  margin-top: -5px;
}
#closeImg:hover {
  transform: scale(1.2);
}

#inputField {
  padding: 10px;
  width: 80%;
  margin: auto;
}
